@import 'theme';
@import 'variables';
@import 'functions';
@import 'mixins';

html {
	font: 'Roboto, verdana, sans-serif';
	font-size: 14px;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
// #app {
// width: 100vw;
// height: 100vh;
// margin: 0;
// padding: 0;
// position: relative;
// // display: flex;
// // justify-content: center;
// // align-items: stretch;
// // flex-direction: column;
// }
.z-level-1 {
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.z-level-2 {
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
}
.z-level-3 {
	box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
}
