.app-category-selector {
  text-overflow: ellipsis;
  white-space: nowrap;

  .app-sidenav & {
  }

  .app-navbar & {
    width: 200px;
  }
}

.disabled {
  padding: 0 16px;
  cursor: default;
  color: rgb(182, 182, 182);
}

.group {
  font-weight: bold;
  background-color: adjust-color($color: white, $lightness: -30%);
}
